
	.container{
		background-color: #fdfdfd ;

	}
	body{
		background-color: #ffaa77;
		background-image:url(https://media.istockphoto.com/vectors/geography-symbols-seamless-pattern-equipments-for-web-banners-for-vector-id1138615185?s=612x612); ;
		
	}